.jumbotron.board-view {
  float: left;
  width: 74%;
  min-height: 880px;
}
#board-image {
  /* Width of pedalboard should be 940px */
  width: 88%; 
  height: 780px;
  margin: 0 auto;
}


.jumbotron.designer {
  float: right;
  width: 25%;
  min-height: 880px;
}
body {
  min-height: 100%;
  padding-top: 70px;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
