.jumbotron.board-view {
  float: left;
  width: 74%;
  min-height: 880px;
}
.jumbotron.designer {
  float: right;
  width: 25%;
  min-height: 880px;
}
body {
  min-height: 100%;
  padding-top: 70px;
}
