.jumbotron.board-view {
  background-image: url("../resources/pedalboards/pedaltrain/novo24.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 74%;
  min-height: 880px;
}

#board-image {
  /* Width of 24 inch pedalboard should be 846px */
  height: 780px;
  margin: 0 auto;
}

.jumbotron.designer {
  float: right;
  width: 25%;
  min-height: 880px;
  padding: 10px;
}

body {
  min-height: 100%;
  padding-top: 70px;
}

.divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
